<main role="main" class="container">
  <br>
  <div class="jumbotron">
      <h4>Github Search</h4>
  </div>

  <div class="my-3 p-3 bg-white rounded box-shadow">
      <form>
          <div class="form-group row">
              <div class="col">
                  <input type="text" class="form-control" placeholder="Search" (keydown.enter)="onEnterPressed($event)" autofocus>
              </div>
          </div>
      </form>
      <hr>
      <div class="row search-container" *ngIf="repos.length < 1 && !searching">
          <div class="col text-center">
              <br><br><br>
              <img class="search-box" src="https://img.icons8.com/wired/64/000000/search.png"/>
              <p>Please write a keyword inside search box and press `Enter`</p>
          </div>
      </div>
      <div class="row search-container" *ngIf="repos.length < 1 && searching && loading">
          <div class="col text-center">
              <br><br><br>
              <img class="search-box" src="https://img.icons8.com/dotty/80/000000/search-folder.png"/>
              <h2>searching...</h2>
              <br>
          </div>
      </div>
      <div class="row no-matching-data" *ngIf="repos.length < 1 && searching && !loading">
          <div class="col text-center">
              <br><br><br>
              <img class="empty-box" src="https://img.icons8.com/wired/64/000000/empty-box.png"/>
              <h2>Sorry</h2>
              <br>
      
              <p [innerHTML]="no_matching_data"></p>
              <p [innerHTML]="search_again"></p>
          </div>
      </div>
      <h6 class="border-bottom border-gray pb-2 mb-0" *ngIf="repos.length > 0">{{total_repos_desc}}</h6>
      <ng-container *ngIf="repos.length > 0">
          <ul class="p-0">
              <li class="media text-muted pt-3"
                  *ngFor="let r of repos | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total_repos }">
                  <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <div class="row">
                          <div class="col-8">
                              <div class="d-flex justify-content-between align-items-center w-100">
                                  <strong class="text-gray-dark full-name">{{r.full_name}}</strong>
                              </div>
                              <span class="d-block description">{{r.description}}</span>
                              <span class="d-block">{{r.updated_date}}</span>
                          </div>
                          <div class="col">
                              <span class="ml-0 mr-3">
                                  <span class="repo-language-color" style="background-color: #2b7489"></span>
                                  <span class="ml-2">{{r.language}}</span>
                              </span>
                          </div>
                          <div class="col">
                              <span class="ml-0 mr-3">
                                  <span><svg class="octicon octicon-star mr-1" viewBox="0 0 14 16" version="1.1"
                                          width="14" height="16" aria-hidden="true">
                                          <path fill-rule="evenodd"
                                              d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z">
                                          </path>
                                      </svg></span>
                                  <span itemprop="programmingLanguage">{{r.stargazers_count}}</span>
                              </span>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
          <br>
          <div class="text-center">
              <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
              <pagination-controls (pageChange)="onRetrieving($event)" id="server" previousLabel=""
              nextLabel=""></pagination-controls>
          </div>
      </ng-container>
  </div>
</main>