.jumbotron {
    padding: 1rem 0.5rem !important;
    margin: 0 !important;
    border-radius: 5px !important;
}

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.full-name {
    color: #0366d6;
    margin-bottom: 5px;
    font-size: 20px
}

.description {
    font-size: 15px;
    margin-bottom: 15px
}

.no-matching-data {
    opacity: 0.7;
    font-family: "Lucida Console", Courier, monospace;

    h2 {
        font-weight: bold;
    }

    .empty-box {
        opacity: 0.5;
        width: 150px;
        margin-bottom: 20px;
        transform: rotate(150deg);
    }
}


.search-container {
    opacity: 0.7;
    font-family: "Lucida Console", Courier, monospace;

    h2 {
        font-weight: bold;
    }

    .search-box {
        opacity: 0.5;
        width: 150px;
        margin-bottom: 20px;
    }
}